<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Listeners of {{ artist }}</title>
    <!-- Inclua o CSS do Bootstrap e DataTables -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Top Listeners of {{ artist }}</h1>
        <table id="artistTable" class="display table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Scrobble Count</th>
                </tr>
            </thead>
        </table>
    </div>

    <!-- Inclua o JS do jQuery, Bootstrap e DataTables -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function() {
            var artist = "{{ artist }}";
            $('#artistTable').DataTable({
                "ajax": {
                    "url": "/artist_data",
                    "data": {
                        "artist": artist
                    },
                    "dataSrc": ""
                },
                "columns": [
                    { "data": "username" },
                    { "data": "scrobble_count" }
                ],
                "order": [[1, 'desc']] // Ordenar pela segunda coluna (scrobble_count) em ordem decrescente
            });
        });
    </script>
</body>
</html>
