<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scrobbles Table</title>
    <!-- Inclua o CSS do Bootstrap e DataTables -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Scrobbles Table</h1>
        <table id="scrobblesTable" class="display table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Artist</th>
                    <th>Track</th>
                    <th>Scrobble Date</th>
                </tr>
            </thead>
        </table>
    </div>

    <!-- Inclua o JS do jQuery, Bootstrap, DataTables e Moment.js -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="/static/js/main.js"></script>
</body>
</html>
